html
{
    background: url('../bilder/background.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

body 
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container 
{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

h2 
{
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"] 
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.button-group {
    text-align: center;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover 
{
    background-color: #218838;
}

.password-container 
{
    position: relative;
}

.toggle-password 
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Vertikale Zentrierung */
    cursor: pointer;
    user-select: none; /* Verhindert das Markieren des Textes */
    font-size: 18px; /* Größe des Augensymbols */
    color: #777; /* Farbe des Augensymbols */
}