h1
{
    background-color: black;
    color: rgb(34, 193, 214);
    text-align: center;
}

h3
{
    border: solid rgb(25, 44, 214);
    border-radius: 18px;
    color: rgb(38, 189, 63);
}

body
{
    background: url('../bilder/background.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.container 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row 
{
    display: flex;
    gap: 10px;
}

.item 
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #000000;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.item img 
{
    max-width: 100%;
    height: auto;
}

.item button 
{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #45a049;
    color: white;
    border: solid black;
    cursor: pointer;
    border-radius: 18px;
}

.center-button 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-button 
{
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #4CAF50; 
    border: solid black; 
    border-radius: 18px; 
    cursor: pointer;
}

.back-button:hover, .item button:hover 
{
    background-color: #2bec55;
    transform: scale(1.1); 
}