body 
{
    background: url('../bilder/background.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1
{
    text-align: center;
    background-color: black;
    color: rgb(23, 208, 233);
    border-radius: 5px;
}

.pokemon-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    flex: 1;
}

.pokemon-item 
{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.button-container 
{
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    gap: 10px; 
}

.button-container button
{
    padding: 5px 10px;
}

.back-button 
{
    display: inline-block;
    text-align: center; 
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    border: solid black; 
    border-radius: 18px; 
    font-weight: bold; 
    cursor: pointer; 
}

.back-button:hover 
{
    background-color: #45a049; 
}

.buy-button
{
    border-radius: 18px;
    background-color: red;
    cursor: pointer;
}

.buy-button:hover, .sell-button:hover
{
    transform: scale(1.1);
}

.sell-button:hover
{
    background-color: #2bec55;
}

.sell-button
{
    border-radius: 18px;
    background-color: #45a049;
    cursor: pointer;
}

.sell-button, .buy-button
{
    color: white;
}