h1
{
    text-align: center;
}

.container 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row 
{
    display: flex;
    gap: 10px;
}

.item 
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.item img 
{
    max-width: 100%;
    height: auto;
}

.item button 
{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.center-button 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-button 
{
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #4CAF50;; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.back-button:hover 
{
    background-color: #0056b3; 
}